.CustomCalendar {
  text-align: center;
  margin-top: 5rem;
}

.calendar-container {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

.react-calendar__tile {
  height: auto;
  padding: 15px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.react-calendar__tile--active {
  background-color: #eaf6ff;
}

.custom-event-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.events {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.event-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}

.event-item button {
  margin-left: 10px;
  cursor: pointer;
}

.event-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
