.CustomCalendar {
  text-align: center;
  margin-top: 12rem;
}

.calendar_links {
	text-align: center;
  margin-bottom: 20px;
}

.route-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
}

.calendar-container {
  width: 80%;
  max-width: 1000px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar {
  width: 100%;
  max-width: 1000px;
  margin-top: 15px;
}

.react-calendar__tile {
  height: auto;
  padding: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.react-calendar__tile li {
  list-style: none; 
	margin-left: -30px;
}

.react-calendar__tile--active {
  background-color: #eaf6ff;
	list-style: none;
}


.custom-event-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
	width: 80%;
}

.custom-event-form textarea {
	height: 50px;
}


.events {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.event-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}

.event-item button {
  margin-left: 10px;
  cursor: pointer;
}

.event-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.route-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 20px;
  cursor: pointer;
  text-transform: capitalize; /* Capitalize the text */
  transition: all 0.3s ease; /* Add smooth transition effect */
  font-size: 36px;
}

.route-link:hover {
  border: 2px solid rgb(48, 48, 193); /* Add border on hover */
  padding: 5px 10px; /* Optional: Add padding to the border */
}