.community_container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(37, 37, 212);
  border-radius: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.community_container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000000; /* Set text color to a darker shade */
}

.community_container h1:hover {
  color: rgb(68, 68, 229); /* Change color on hover */
}

.community_container img {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 20px; /* Optional: Add border-radius to the image */
  transition: transform 0.5s ease; /* Add smooth scaling effect */
}

/* Add scaling effect on hover for the image */
.community_container img:hover {
  transform: scale(1.05); /* Scale the image by 10% on hover */
}

.community_container p {
  font-size: 16px;
  margin-bottom: 10px;
}

.community_container .loading-message {
  font-size: 18px;
  color: #666;
}

.community_page {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 100px;
}

.community_routes {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  background: none;
  border: none;
  font-weight: bold;
  margin: 0 15px;
  cursor: pointer;
}

.route-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 20px;
  cursor: pointer;
  text-transform: capitalize; /* Capitalize the text */
  transition: all 0.3s ease; /* Add smooth transition effect */
  font-size: 36px;
}

.route-link:hover {
  border: 2px solid rgb(48, 48, 193); /* Add border on hover */
  padding: 5px 10px; /* Optional: Add padding to the border */
}



.community_missions_goals {
  margin-top: 40px;
}

.community_missions_goals h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.community_missions_goals ul {
  list-style: none;
  padding: 0;
}

.community_missions_goals li {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.community_missions_goals li:before {
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}