/* .community-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	margin: 50px auto;
	padding: 0;
} */


.community-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 80px 80px;
  padding: 10px;
}
