/* .explore-page {
	padding: 0px 5vw;
} */


.explore-page__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 226, 237); 
	margin-bottom: -20px;
	padding-left: 50px;
	padding-right: 50px;
}


.explore-page_search-bar .search {
  width: 100%; /* Set the search input width to 100% */
  background-color: rgb(216, 226, 237); 
	padding-left: 50px;
	padding-right: 50px;
}


.viewToggle {
	display: flex;
	justify-content: end;
	gap: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
}

.explore-page_causes {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -10px -10px;
}

.explore-page_search-bar {
	display: flex;
	justify-content: center;
	margin: 40px 0px;
}

.search {
	width: 70%;
	background-color: white;
}

.explore-page__options-section {
	background-color: rgb(216, 226, 237);
	padding-left: 10px;
	padding-right: 10px;
}


