/* Forum.css */

.forum {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thread-form {
  margin-bottom: 20px;
}

.thread-form input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 95%;
  align-items: center;
}

.thread-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 95%; 
  height: 350px; 
  resize: vertical;
}

.thread-form content {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%; 
  height: 350px;
}

.thread-form button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.threads .thread {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.threads .thread h2 {
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #007bff;
}

.threads .thread p {
  font-size: 14px;
  margin-bottom: 15px;
}

.comments {
  margin-top: 15px;
}

.comment {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment p {
  font-size: 14px;
}

.comment-form input,
.comment-form button {
  margin-top: 10px;
}


