ul {
  list-style-type: none;
  padding: 0;
}

.skills {
  text-align: center;
  padding-top: 50px;
  padding-right: 250px;
  padding-left: 250px;
}

.skills li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Adjust columns as needed */
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
}

.skill-name {
  grid-column: 1; /* Align skill name in the first column */
  text-align: left; /* Adjust text alignment */
}

.skill-level {
  grid-column: 2; /* Align skill level in the second column */
  text-align: center; /* Adjust text alignment */
}

.edit-mode {
  display: flex;
  align-items: center;
}

.edit-mode select {
  margin-right: 10px; /* Adjust spacing */
}


.events {
  text-align: center;
  padding-bottom: 50px;
}

.skills h2,
.events h2 {
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 20px;
}
