.tabs {
	overflow: hidden;
}

.tabs menu {
	margin: 0;
	padding: 0;
	display: flex;
}

.tabs button {
	font: inherit;
	font-size: 2rem;
	background-color: #282f33;
	border: none;
	border-bottom-color: #48d9f3;
	color: #e0eff1;
	border-radius: 8px 8px 0 0;
	padding: 1rem 2rem;
	margin: 0rem 0.25rem;
	transition: all 0.2s ease-out;
}

.tabs button:hover,
.tabs button.active {
	background-color: #48d9f3;
	color: #273133;
}

.tab-content {
	background-color: #2d3942;
	/* border-radius: 0 4px 4px 4px; */
	border-radius: 8px 8px 0 0;
	padding: 1rem;
	height: 100vh;
}

.tab-content li {
	margin: 0.75rem 0;
}
